  <div class="row">
    <div class="col-lg-12">
     <nb-card>
    <nb-card-header>Login</nb-card-header>
    <nb-card-body>
 

<br>

<div class="row">
    <div class="col col-lg-2">
        Correo:
    </div>
    <div class="col col-lg-4">
        <input [(ngModel)]="correo" type="email" class="form-control" id="exampleInputEmail1" placeholder="Digite su correo">
    </div>

</div>

<br>

<div class="row">
    <div class="col col-lg-2">Contraseña:</div>
    <div class="col col-lg-4">
        <input [(ngModel)]="contrasenia" type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite su contrasena">
    </div>
    </div>
    <br>

<div class="row"> 
    <div class="col">
        <button (click)="login()" type="button" class="btn btn-success">Login</button>
    </div>
</div>
