<div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Eliminar Partido</h4>
    <form class="needs-validation" novalidate="">
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">ID</label>
          <input type="text" class="form-control" id="Nombre" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid first name is required.
            
          </div>
          <br>
          <button type="button" class="btn btn-danger">Eliminar</button>
        </div>
        </div>
    </form>
  </div>